@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[80rem] p-6 w-full mx-auto;
}

@layer components{
/* ----------------------------Header------------------------ */
.header{
    @apply bg-light relative h-[6rem] z-[1]
}
.header__desk{
    @apply lg:flex items-center lg:justify-between lg:w-full 
}
.header__desk ul{
    @apply hidden lg:flex 
}
.header__desk ul li a{
    @apply text-primary font-thin lg:relative lg:px-[1rem]
}
.header__desk ul li a::after{
    @apply content-[''] h-[4px] w-full scale-x-0 bg-primary block absolute left-0 bottom-[-20px] 
    transition-all duration-300 origin-center
}
.header__desk ul li a:hover::after{
    @apply  scale-x-100
}

.header__mobile{
    @apply bg-light absolute top-[5rem] left-0 w-0 h-[90vh] px-0 pt-0 overflow-hidden shadow-sm transition-all
    lg:static lg:h-fit lg:w-fit lg:shadow-none z-[1]
}
.header__mobile.open{
    @apply w-[100%]   transition-all
}
.header__mobile ul{
    @apply  pb-5 flex flex-col md:hidden text-center 
}
.header__mobile ul li{
    @apply  text-primary hover:bg-primary hover:text-light border-b-[1px] py-[1rem]
}
.header__mobile ul li a{
    @apply font-thin 
}
.header__mobile ul li:first-child{
    @apply border-t-[1px]
}
.toggle__menu{
    @apply md:hidden
}

.toggle__menu span{
    @apply w-[2.1rem] h-[.3rem] bg-primary block rounded-full transition-all 
}
.toggle__menu span:nth-child(2){
    @apply my-1
}
.header__wrapper{
    @apply flex items-center justify-between
}
.toggle__menu.open .first{
    @apply scale-x-0 transition duration-300
}
.toggle__menu.open .second{
    @apply scale-x-0 transition-all duration-300 
}
.toggle__menu.open .inner span:first-child{
    @apply transform translate-y-[-4px] rotate-[45deg] transition-all duration-300
}
.toggle__menu.open .inner span:last-child{
    @apply transform translate-y-[-4px] rotate-[-45deg] transition-all duration-300
}



/* --------------------Banner------------------ */
.banner{
    @apply bg-gray-100 overflow-hidden
}
.container img{
    @apply lg:bottom-[20rem] bottom-[34rem]
}
.banner__wrapper{
    @apply lg:grid lg:grid-cols-2 lg:my-[7rem] lg:gap-20
}
.banner__left{
    @apply lg:mt-[5rem]
}
.banner__left h1{
    @apply mb-7
}
.banner__left p{
    @apply mb-7
}
/* --------------------About Home---------------- */
.aboutHome h2:first-child{
    @apply font-bold 
}
.aboutHome{
    @apply  text-dark 
}
.aboutHome{
    @apply text-center my-[5rem]
}
.aboutHome p{
    @apply my-7 lg:w-[75%] lg:mx-auto
}
/* -------------------Services----------------- */
.services{
    @apply bg-aboutHome bg-no-repeat lg:bg-cover bg-center lg:py-[5rem] my-[5rem] text-light
}
.services__wrapper h2{
    @apply text-center my-10 lg:my-[2rem]
}
.services__cards{
    @apply lg:grid lg:grid-cols-4 lg:gap-[3rem] lg:my-[5rem]
}
.services__img img{
    @apply mx-auto
}
.services__img h3{
    @apply text-center
}
.services__img{
    @apply mb-[2rem]
}
.services__info ul li i{
    @apply text-[.3rem] w-3 
}
.services__info ul li{
    @apply text-[1.1rem] lg:my-[.7rem]
}

.services__info{
    @apply py-5
}
/* ----------------------------Testimonial---------------- */
.testimonial__wrapper{
    @apply relative 
}
.testimonial__title h2{
    @apply text-center w-full mb-[3rem] text-dark
}
.testimonial__info{
    @apply text-center relative lg:grid lg:grid-cols-2
}
.testimonial__info .clients img{
    @apply mx-auto
}
.clients img{
    @apply rounded-[100%] w-[80%] lg:w-[50%]
}
.clients h3{
    @apply font-bold mt-[1rem]
}
.clients p{
    @apply mb-[1rem] z-50 text-dark
}
.clients small{
    @apply font-bold text-[1rem]
}
.quote p{
    @apply my-[4rem] font-semibold h-[100%]
}
.quote i{
    @apply absolute text-gray-200 text-[7rem] lg:text-[10rem] z-[-99]
}
.quote{
    @apply w-[90%] mx-auto 
}
.quote i:first-child{
    @apply left-0 top-0 lg:mt-0 
}
.quote i:nth-child(2){
    @apply  right-0 ml-[50%]
}



/* -----------------------Events------------------------ */
.events{
    @apply my-[5rem] text-center text-dark
}
.events__wrapper h2{
    @apply mb-[2rem]
}
.events__cards{
    @apply p-[1.5rem] lg:grid lg:grid-cols-3 lg:gap-[2rem]
}
.events__info{
    @apply shadow-2xl mb-[3rem] overflow-hidden
}
.events__content{
    @apply p-[2rem] 
}
.events__content h3{
    @apply font-semibold
}
.events__img img{
    @apply w-full transition-transform duration-300 hover:scale-[1.2]
}

/* ------------------------Footer----------------------- */
.footer{
    @apply bg-primary text-center text-light
}
.footer__wrapper{
    @apply lg:grid lg:grid-cols-3 
}
.footer__socials{
    @apply lg:my-[2rem] lg:border-r-[1px] lg:border-light 
}
.footer__socials img{
    @apply mx-auto 
}
.footer__socials .brand{
    @apply my-[1.5rem] lg:my-0
}
.icons{
    @apply flex gap-[1.5rem]  justify-center lg:mt-[2rem]
}
.icons i{
    @apply text-[1.5rem]
}
.footer__services{
    @apply my-[3rem] lg:my-[2rem] lg:border-r-[1px] lg:border-light
}
.footer__services h5{
    @apply font-semibold mb-[1.5rem]
}
.footer__services h6{
    @apply my-[.5rem]
}
.footer__contact{
    @apply my-[3rem] lg:text-left lg:my-[2rem] lg:ml-[1rem]
}
.footer__contact h5{
    @apply font-semibold mb-[1.5rem]
}
.footer__contact h6{
    @apply my-[.5rem]
}
.footer__contact h6 i{
    @apply text-[1rem] mr-[.5rem]
}


/* ----------------------------------------ABOUT PAGE---------------------- */
/* --------------------------Vision and Mission------------------- */
.vision{
    @apply my-[5rem]
}
.vision__wrapper{
    @apply  text-center text-dark lg:text-left
}
.vision__wrapper h2{
    @apply lg:text-center mb-[5rem]
}
.vision__content h3{
    @apply font-bold my-[1rem]
}
.vision__cards{
    @apply lg:grid lg:grid-cols-3 lg:gap-[3rem]
}


/* --------------------------Our Team-------------------- */
.team{
    @apply bg-gray-100 text-dark
}
.team__title {
    @apply text-center py-[2rem] mb-[10rem] lg:mb-[25rem] lg:my-[5rem]
}
.team__title h2{
    @apply mb-[2rem] 
}
.team__img img{
    @apply w-[40%] lg:w-full block grayscale-[100%] transition-all max-w-[inherit] 
}
.team__img{
    @apply relative right-[1rem] top-[1.5rem] 
}
.name{
    @apply opacity-0  text-center mb-[1rem] 
}
.name h5{
    @apply font-bold
}
.jhonny{
    @apply absolute bottom-0 left-[.1rem] lg:left-[5rem] z-[2] 
}
.jeffrey{
    @apply absolute bottom-0 left-[3rem] lg:left-[9rem] z-[1]
}
.rhoda{
    @apply absolute bottom-0 left-[8rem] lg:left-[22rem] z-[2]
}
.bhea{
    @apply absolute bottom-0 w-[60%] lg:w-fit left-[11rem] lg:left-[28rem] z-[3]
}
.patrick{
    @apply absolute bottom-0 w-[60%] lg:w-fit left-[15rem] lg:left-[37rem] z-[2]
}
.ralph{
    @apply absolute bottom-0 w-[55%] lg:w-fit left-[18rem] lg:left-[47rem] z-[1]
}
.michael{
    @apply absolute bottom-0 w-[60%] lg:w-fit left-[20rem] lg:left-[55rem] z-[2]
}

.team__img img:hover{
    @apply lg:grayscale-0 transition-all duration-300
}

.jhonny:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.jeffrey:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.rhoda:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.bhea:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.patrick:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.ralph:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}
.michael:hover .name{
    @apply block lg:opacity-100 transition-all duration-700 translate-y-[-20%]
}

/* --------------------Partners------------------- */
.partners{
    @apply my-[5rem]
}
.partners__clients{
    @apply lg:grid lg:grid-cols-3
}
.partners__wrapper h2{
    @apply text-center mb-[2rem] lg:mb-[5rem]
}
.partners__clients img{
    @apply mx-auto py-[2rem]
}

/* --------------Arrow up------------ */
.arrow{
    @apply fixed bottom-3 right-3 lg:bottom-4 lg:right-[5rem] bg-light text-primary rounded-full  
    border-[1px] border-primary hover:bg-primary hover:text-light hover:border-light transition
    duration-300
}
.arrow i{
    @apply text-[1.5rem] lg:text-[2rem] py-[.5rem] px-[.7rem] lg:py-[1.1rem] lg:px-[1.3rem] 
}




}

/* ----------------------SLIDER-------------------- */
.tns-nav{
    @apply
    z-[10] flex justify-center items-center
}
.tns-nav button{
    @apply   
    m-[.5rem]
    w-[15px]
    h-[15px]
    rounded-[100%]
    border-none
    bg-primary
    }
.tns-nav button.tns-nav-active{
    @apply bg-pink-600
}


@layer base {
    @font-face {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    }
    h1 {
        @apply text-4xl text-dark;
      }
      h2 {
        @apply text-3xl ;
      }
      h3 {
        @apply text-xl ;
      }
      h6{
        @apply text-[.8rem]
      }
      p{
        @apply text-[1.1rem] font-thin
      }
      a {
        @apply text-[1rem] font-semibold text-center;
      }

      
  }

@layer utilities{
    .btn{
        @apply inline-block py-[.8rem] px-[1.4rem] rounded-full border-transparent border-[1px]
        
    }
    .btn.bg--primary{
        @apply text-light hover:bg-transparent hover:text-primary hover:border-primary bg-primary
        transition duration-300 
    }
    .btn.bg--transparent{
        @apply text-dark border-primary hover:border-transparent hover:bg-gray-300 hover:scale-95
        transition duration-300
    }
    .btn.bg--light{
        @apply text-light border-light hover:text-primary hover:border-transparent hover:bg-light hover:scale-95
        transition duration-300
    }

}

